.App {
  text-align: center;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #323174, #673c87);
  color: #323174;
}
.header {
  display: inline-block;
  background-color: white;
  width: 90vw;
  margin-top: 8%;
}

.listContainer {
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin: 1% 0px 0px 20%;
}
.list {
  background-color: white;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 20px;
}
.leftContainer {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}
.dismissButton {
  height: 20px;

  background-image: linear-gradient(to right, #323174, #673c87);
  color: #fff;

  padding: 4px;
  font-size: 13px;
  border-radius: 4px;
}
